{% extends "base.html" %}

{% block title %} add_survey.html {% endblock %}

{% block content %}

    <h1> 투자자성향 설문 </h1>
    <br>

    <!-- {% for profile in profile_item %}
        <li>참고</li>
        <li>{{profile.id}}</li>
        <li>{{profile.riskscore}}</li>
    {% endfor %}<br/>
 -->

    {% if submitted %}
        Submitted successfully!
    {% else %}
        <form action="" method=POST>
            {% csrf_token %}

            {{ form.as_p }}

            <b>투자자성향 스코어: {{survey.riskscore|floatformat:"2" }} </b> 
            <br/><br/>

            <button type="submit">입력하기</button>
        </form>
    {% endif %}

 

{% endblock %}