{% extends "base.html" %}

{% block title %} mgronly3_view.html {% endblock %}

{% block content %}

    <h2> 자산별 Weight </h2>
    <br>
    <div class="d-flex justify-content-center">
        <p>
            <a href="{% url 'mgr_only' %}" class="btn btn-secondary mr-2  btn-sm">종목별 Weight</a>
            <a href="{% url 'mgr_only1' %}" class="btn btn-secondary mr-2 btn-sm">Daily Value</a>
            <a href="{% url 'mgr_only2' %}" class="btn btn-secondary mr-2  btn-sm">Monthly Value</a>
        </p>
    </div>

    <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">date</th>
            <th scope="col">위험등급5</th>
            <th scope="col">위험등급4</th>
            <th scope="col">위험등급3</th>
            <th scope="col">위험등급2</th>
            <th scope="col">위험등급1</th>
            <th scope="col">cash</th>
            <th scope="col">total</th>
          </tr>
        </thead>
        <tbody>


        {% if user.is_authenticated %}
            {% if mp_w %}
                {% for mp in mp_w %}
                <tr>
                    <td>{{mp.date}}</td>
                    <td>{{mp.cls5_val}}</td>
                    <td>{{mp.cls4_val}}</td>
                    <td>{{mp.cls3_val}}</td>
                    <td>{{mp.cls2_val}}</td>
                    <td>{{mp.cls1_val}}</td>
                    <td>{{mp.total}}</td>
                    <td>{{mp.risk_value}}</td>
                    <td></td>
                </tr>    
                {% endfor %}

            {% endif %}
    
        {% else %}
            <h2>You must be logged in first.</h2>
            <p class="font-italic"><a href="{% url 'login' %}">Log in</a></p>
        {% endif %}

        </tbody>
    </table>
         
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">          
      
      {% if mp_v.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
      
          <li class="page-item"><a class="page-link" href="?page={{ mp_v.previous_page_number }}">Previous</a></li>
          
      {% endif %}
      
      {% for i in nums %}
          <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
      {% endfor %}
      
      {% if mp_v.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ mp_v.next_page_number }}">Next</a></li>
      
          <li class="page-item"><a class="page-link" href="?page={{ mp_v.paginator.num_pages }}">Last &raquo</a></li>
      
      {% endif %}
      
       </ul>
      </nav>



{% endblock %}