{% extends "base.html" %}

{% block title %} mgronly_view.html {% endblock %}



{% block content %}

    {% if type == 5 %}    <h2>공격형 종목별 투자비중</h2>
    {% elif type == 4 %}   <h2>적극형 종목별 투자비중</h2>
    {% elif type == 3 %}   <h2>중립형 종목별 투자비중</h2>
    {% elif type == 2 %}   <h2>안전형 종목별 투자비중</h2>
    {% endif %}
    <br>

    {% if user.is_staff %}

    <div class="d-flex justify-content-end">

        <p>

            <form id="dateForm" action="{% url 'mgr_only' type %}" method="get">
                From: <input type="date" id="fromdate" name="fromdate" value="{{ fromdate }}" />
                ~ To: <input type="date" id="todate" name="todate"  value="{{ todate }}"/>
                <button type="submit" class="btn btn-secondary mr-2 btn-sm">Search</button>
            </form>

            <a href="{% url 'mgr_only3' type %}" class="btn btn-secondary mr-2 btn-sm">자산별투자비중</a>
            <a href="{% url 'mgr_only1' type %}" class="btn btn-secondary mr-2 btn-sm">일별수익률</a>
            <a href="{% url 'mgr_only2' type %}" class="btn btn-secondary mr-2 btn-sm">월별수익률</a>
        </p>
    </div>
    <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">date</th>
            <th scope="col">코스닥150</th>
            <th scope="col">KOSPI200</th>
            <th scope="col">나스닥100</th>
            <th scope="col">SP500</th>
            <th scope="col">국고채3</th>
            <th scope="col">단기채</th>
            <th scope="col">통안채</th>
            <th scope="col">cash</th>
            <th scope="col">total</th>
          </tr>
        </thead>
        <tbody>



            {% if mp_w %}
                {% for mp in mp_w %}
                <tr>
                    <td>{{mp.date|date:"Y/m/d"}}</td>
                    <td>{{mp.item1_val|floatformat:4}}</td>
                    <td>{{mp.item2_val|floatformat:4}}</td>
                    <td>{{mp.item3_val|floatformat:4}}</td>
                    <td>{{mp.item4_val|floatformat:4}}</td>
                    <td>{{mp.item5_val|floatformat:4}}</td>
                    <td>{{mp.item6_val|floatformat:4}}</td>
                    <td>{{mp.item7_val|floatformat:4}}</td>
                    <td>{{mp.item8_val|floatformat:4}}</td>
                    <td>{{mp.port_total|floatformat:2}}</td>
                </tr>    
                {% endfor %}

            {% endif %}


        </tbody>
    </table>
         
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if mp_w.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" style="color: black;">&laquo; 맨앞</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ mp_w.previous_page_number }}" style="color: black;">&lt; 이전</a>
                </li>
            {% endif %}
    
            {% for i in nums %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ forloop.counter }}" style="color: black;">{{ forloop.counter }}</a>
                </li>
            {% endfor %}
    
            {% if mp_w.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ mp_w.next_page_number }}" style="color: black;">다음 &gt;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ mp_w.paginator.num_pages }}" style="color: black;">맨뒤 &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="d-flex justify-content-center">

            <div class="col-md-6">
                <p>
                    <a href="{% url 'algo' type %}" class="btn btn-secondary mr-2 btn-sm">1.일일 모델링</a>
                    <a href="{% url 'add_daily' type %}" class="btn btn-secondary mr-2 btn-sm">2. 모델링 DB 일일저장</a>
                    <a href="{% url 'init_add_daily' type %}" class="btn btn-secondary mr-2 btn-sm">모델링 DB 초기화</a>
                </p>

        </div>
    </div>

    {% else %}
        <h2>관리자로 로그인해야합니다</h2>
    {% endif %}

{% endblock %}

