{% extends "base.html" %}

{% block title %} mgronly_view.html {% endblock %}

{% block content %}

    <h2> 종목별 투자비중  </h2>
    <br>
    <div class="d-flex justify-content-end">
        <p>

            <form id="dateForm" action="{% url 'mgr_only' %}" method="get">
                From: <input type="date" id="fromdate" name="fromdate" value="{{ fromdate }}" />
                ~ To: <input type="date" id="todate" name="todate"  value="{{ todate }}"/>
                <button type="submit" class="btn btn-secondary mr-2 btn-sm">Search</button>
            </form>


            <a href="{% url 'mgr_only3' %}" class="btn btn-secondary mr-2 btn-sm">자산별투자비중</a>
            <a href="{% url 'mgr_only1' %}" class="btn btn-secondary mr-2 btn-sm">일별수익률</a>
            <a href="{% url 'mgr_only2' %}" class="btn btn-secondary mr-2 btn-sm">월별수익률</a>
        </p>
    </div>
    <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">date</th>
            <th scope="col">코스닥150</th>
            <th scope="col">KOSPI200</th>
            <th scope="col">나스닥100</th>
            <th scope="col">SP500</th>
            <th scope="col">국고채3</th>
            <th scope="col">단기채</th>
            <th scope="col">통안채</th>
            <th scope="col">cash</th>
            <th scope="col">total</th>
          </tr>
        </thead>
        <tbody>


        {% if user.is_authenticated %}
            {% if mp_w %}
                {% for mp in mp_w %}
                <tr>
                    <td>{{mp.date|date:"Y/m/d"}}</td>
                    <td>{{mp.item1_val|floatformat:4}}</td>
                    <td>{{mp.item2_val|floatformat:4}}</td>
                    <td>{{mp.item3_val|floatformat:4}}</td>
                    <td>{{mp.item4_val|floatformat:4}}</td>
                    <td>{{mp.item5_val|floatformat:4}}</td>
                    <td>{{mp.item6_val|floatformat:4}}</td>
                    <td>{{mp.item7_val|floatformat:4}}</td>
                    <td>{{mp.item8_val|floatformat:4}}</td>
                    <td>{{mp.port_total|floatformat:2}}</td>
                </tr>    
                {% endfor %}

            {% endif %}
    
        {% else %}
            <h2>You must be logged in first.</h2>
            <p class="font-italic"><a href="{% url 'login' %}">Log in</a></p>
        {% endif %}

        </tbody>
    </table>
         
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">          
      
      {% if mp_w.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
      
          <li class="page-item"><a class="page-link" href="?page={{ mp_w.previous_page_number }}">Previous</a></li>
          
      {% endif %}
      
      {% for i in nums %}
          <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
      {% endfor %}
      
      {% if mp_w.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ mp_w.next_page_number }}">Next</a></li>
      
          <li class="page-item"><a class="page-link" href="?page={{ mp_w.paginator.num_pages }}">Last &raquo</a></li>
      
      {% endif %}
      
       </ul>
      </nav>
      <br>
      <div class="d-flex justify-content-end">
        <p>          
            <a> Daily 데이터 maintenance: </a>
            <a class="btn btn-secondary mr-2  btn-sm">종목별투자비중</a>
            <a class="btn btn-secondary mr-2  btn-sm">자산별투자비중</a>
            <a class="btn btn-secondary btn-sm">일일수익률</a>
            <a class="btn btn-secondary btn-sm">월별수익률</a>
            <br><br>
            <a> 초기 데이터 업데이트: </a>
            <a href="{% url 'update_daily_weights' %}" class="btn btn-secondary mr-2  btn-sm">종목별투자비중</a>
            <a href="{% url 'update_clsweight' %}" class="btn btn-secondary mr-2  btn-sm">자산별투자비중</a>
            <a href="{% url 'update_daily_value' %}" class="btn btn-secondary btn-sm">일일수익률</a>
            <a href="{% url 'update_monthly_value' %}" class="btn btn-secondary btn-sm">월별수익률</a>
        </p>
    </div>

{% endblock %}