{% extends "base.html" %}
{% load humanize %}
{% block title %} mgronly2_view.html {% endblock %}

{% block content %}

    {% if type == 5 %}    <h2>공격형 일별 수익률</h2>
    {% elif type == 4 %}   <h2>적극형 일별 수익률</h2>
    {% elif type == 3 %}   <h2>중립형 일별 수익률</h2>
    {% elif type == 2 %}   <h2>안전형 일별 수익률</h2>
    {% endif %}
    <br>
    <div class="d-flex justify-content-end">
        <p>

            <form id="dateForm" action="{% url 'mgr_only1' type%}" method="get">
                From: <input type="date" id="fromdate" name="fromdate" value="{{ fromdate }}" />
                ~ To: <input type="date" id="todate" name="todate"  value="{{ todate }}"/>
                <button type="submit" class="btn btn-secondary mr-2 btn-sm">Search</button>
            </form>
            
            <a href="{% url 'mgr_only' type%}" class="btn btn-secondary mr-2  btn-sm">종목별투자비중</a>
            <a href="{% url 'mgr_only3' type%}" class="btn btn-secondary mr-2 btn-sm">자산별투자비중</a>
            <a href="{% url 'mgr_only2' type %}" class="btn btn-secondary mr-2  btn-sm">월별수익률</a>
        </p>
    </div>

    <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">date</th>
            <th scope="col">코스닥150</th>
            <th scope="col">KOSPI200</th>
            <th scope="col">나스닥100</th>
            <th scope="col">SP500</th>
            <th scope="col">국고채3</th>
            <th scope="col">단기채</th>
            <th scope="col">통안채</th>
            <th scope="col">value</th>
            <th scope="col">일수익</th>
            <th scope="col">누적수익</th>
          </tr>
        </thead>
        <tbody>


        {% if user.is_authenticated %}
            {% if mp_v %}
                {% for mp in mp_v %}
                <tr>
                    <td>{{mp.date|date:"Y/m/d"}}</td>
                    <td>{{mp.item1_val|floatformat:2|intcomma}}</td>
                    <td>{{mp.item2_val|floatformat:2|intcomma}}</td>
                    <td>{{mp.item3_val|floatformat:2|intcomma}}</td>
                    <td>{{mp.item4_val|floatformat:2|intcomma}}</td>
                    <td>{{mp.item5_val|floatformat:2|intcomma}}</td>
                    <td>{{mp.item6_val|floatformat:2|intcomma}}</td>
                    <td>{{mp.item7_val|floatformat:2|intcomma}}</td>
                    <td>{{mp.port_val|floatformat:2|intcomma }}</td>
                    <td>{{mp.port_ret|floatformat:4}}</td>
                    <td>{{mp.acum_ret|floatformat:4}}</td>
                </tr>    
                {% endfor %}

            {% endif %}
    
        {% else %}
            <h2>You must be logged in first.</h2>
            <p class="font-italic"><a href="{% url 'login' %}">Log in</a></p>
        {% endif %}

        </tbody>
    </table>
         
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">          
      
        {% if mp_v.has_previous %}
            <li class="page-item"><a class="page-link" style="color: black;" href="?page=1"> &laquo 맨앞 </a></li>
        
            <li class="page-item"><a class="page-link" style="color: black;" href="?page={{ mp_v.previous_page_number }}"> < 이전 </a></li>
            
        {% endif %}
        
        {% for i in nums %}
            <li class="page-item"><a class="page-link" style="color: black;" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
        
        {% if mp_v.has_next %}
            <li class="page-item"><a class="page-link" style="color: black;" href="?page={{ mp_v.next_page_number }}"> 다음 > </a></li>
        
            <li class="page-item"><a class="page-link" style="color: black;" href="?page={{ mp_v.paginator.num_pages }}"> 맨뒤 &raquo </a></li>
        
        {% endif %}
      
       </ul>
      </nav>



{% endblock %}