{% extends "base.html" %}

{% block title %} portfolio_list.html {% endblock %}

{% block content %}

    <h1> Portfolio List </h1>
    <br>

    {% for port in port_list %}
        <strong>Portfolio id: {{ port.id }}</strong> <br>
        <ul>
            <li>title: <a>{{ port.title}}</a></li>
        </ul>      
    {% endfor %}

    <div class="d-flex justify-content-center">
        <p>          
            <a> 할로윈 변형 모델 (11-4월 국내주식 적극적, 5-10월 미국주식 적극적) :   </a>
            <a href="{% url 'algo_View' %}" class="btn btn-secondary mr-2 btn-sm">모델 결과 html 보기</a>
            <a href="https://blog.naver.com/kannieseo/223365744412" class="btn btn-secondary mr-2 btn-sm">백테스팅 데이타 (임시)</a>
            <a href="{% url 'algo' %}" class="btn btn-secondary mr-2 btn-sm"> 모델 데이타생성</a>            
            <br><br>
        </p>
        <br><br>

    </div>
    <br>

    <br>
{% endblock %}
