{% extends "base.html" %}

{% block title %} survey_view.html {% endblock %}

{% block content %}

    <h1> Risk Tolerance Questionare </h1>
    <br>


    <div id="wrap">
        ​​​​<form method="post" >
        ​​​​​​​​    {% csrf_token %}
            <p>​​​​​​​​<class="sub"><b>1. 연령대</b></p>
            ​​​​​​​​<a><input type="radio" name="num" value="1" >19세이하</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="2" >20-40세</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="3" >41세-50세</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="4" >51세-64세</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="5" >61세-79세</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="6" >80세이상</a><br>
            <br>
            <p>​​​​​​​​<class="sub"><b>2. 투자가능기간</b></p>
            ​​​​​​​​<a><input type="radio" name="num" value="1" >1년미만</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="2" >1년이상-2년미만</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="3" >2년이상-3년미만</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="4" >3년이상-5년미만</a><br>
            ​<a><input type="radio" name="num" value="5" >5년이상</a><br>
            <br>
            <p>​​​​​​​​<class="sub"><b>3. 투자경험</b></p>
            ​​​​​​​​<a><input type="radio" name="num" value="1" >은행예금, 적금, 국채, 지방채, MMF</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="2" >금융채, 회사채, 채권형펀드</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="3" >하이일드, 주식형펀드, ELS</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="4" >ELW, 선물옵션, 파생상품펀드 </a><br>
            <br>
            <p>​<class="sub"><b>4. 금융지식 이해도</b></p>
            ​​​​​​​​<a><input type="radio" name="num" value="1" >금융투자상품에 투자해 본 경험이 없슴</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="2" >주식, 채권, 펀드 등의 금융투자 상품의 내용 및 위험을 일정부분 이해하고 있슴</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="3" >주식, 채권, 펀드 등의 금융투자 상품의 내용 및 위험을 깊이있게 이해하고 있슴</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="4" >파생상품을 포함한 대부분의 금융투자상품의 내용 및 위험을 이해하고 있슴</a><br>
            <br>
            <p>​​​​​​​​<class="sub"><b>5. 기대 이익수준 및 손실감내 수준</b></p>
            ​​​​​​​​<a><input type="radio" name="num" value="1" >무슨일이 있어도 투자 원금은 보전되어야 한다</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="2" >원금기준 +- 5%</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="3" >원금기준 +- 10%</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="4" >원금기준 +- 20%</a><br>
            ​<a><input type="radio" name="num" value="4" >원금기준 +- 20% 초과 </a><br>
            <br>
            <p>​​​​​​​​<class="sub"><b>6. 총자산대비 금융상품 기준</b></p>
            ​​​​​​​​<a><input type="radio" name="num" value="1" >보장성 상품</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="2" >투자성 상품</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="3" >대출성 상품</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="4" >기타 상품</a><br>
            <br>
            <p>​​​​​​​​<class="sub"><b>7. 금융투자상품 처분목적</b></p>
            ​​​​​​​​<a><input type="radio" name="num" value="1" >채무상환</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="2" >학비</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="3" >생활비</a><br>
            ​​​​​​​​<a><input type="radio" name="num" value="4" >주택마련</a><br>
            ​<a><input type="radio" name="num" value="5" >자산증식</a><br>
            <br>
        ​​​​​​​    ​<p>
                ​​​​​​​​​​​​<input type="button" value="결과확인" >
            ​​​​​​​​</p>
        ​​​​</form>
        ​​​​<script>

        ​​​​</script>



    </div>


{% endblock %}