{% extends "base.html" %}

{% block title %} update_survey.html {% endblock %}

{% block content %}

    <h1> Risk Tolerance Questionare </h1>
    <br>
    {{survey}}

    {% for profile in profile_item %}
        <li>참고</li>
        <li>{{profile.id}}</li>
        <li>{{profile.riskscore}}</li>
    {% endfor %}<br/>


    {% if submitted %}
        Submitted successfully!
    {% else %}
        <form action="" method=POST>
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">제출</button>
        </form>
    {% endif %}


{% endblock %}