table td, table th{
    border: 10px; 
    padding: 8px;

}

table tr:hover {background-color: #a62a2a}

table th{
    padding-top:12px;
    padding: bottom 12px;
    text-align:center;
    background-color: #a62a2a;
    color:white;
}