{% extends 'base.html' %}

{% block title %}Home{% endblock %}



<div class="container">
    <div class="content">

    {% block content %}
    
    <br>
    <h2 class="title" style="display: flex; justify-content: center; text-align: center;">체슬리알고 RATB</h2>

    <div>
        {% load static %}  
        <img src= {% static "img/robo.png" %} /> 
        <h4 class="powered" style="justify-content: center; text-align: right;">powered by Chesley Investment & Chesley QR</h4>
    </div>

    {% endblock %}
    </div>
</div>




